<<<<<<< HEAD
*{
    font-family: 'Reem Kufi Fun', sans-serif !important;
    margin: 0px;
    padding: 0px;
=======
*{
    font-family: 'Reem Kufi Fun', sans-serif !important;
    margin: 0px;
    padding: 0px;
>>>>>>> 402843504df98ee250c48897849af4ce2494f494
}