<<<<<<< HEAD
//header
$bg-header: #0d304e;
$color-titulo: green;
$color-span: tomato;
$col-link-hover: rgb(238, 107, 47);

//principal
$color-titulos: white;
$color-contenido: rgb(197, 195, 195);

//colores grandiente 
$gradiente-1: #d59648;
$gradiente-2: #1c66a7;
$gradiente-3: #be5252;
$gradiente-4: #4E8E5C;

$colores-gradiente: (
    gradiente-1: #d59648,
    gradiente-2: #1c66a7,
    gradiente-3: #be5252,
    gradiente-4: #4E8E5C
=======
//header
$bg-header: #0d304e;
$color-titulo: green;
$color-span: tomato;
$col-link-hover: rgb(238, 107, 47);

//principal
$color-titulos: white;
$color-contenido: rgb(197, 195, 195);

//colores grandiente 
$gradiente-1: #d59648;
$gradiente-2: #1c66a7;
$gradiente-3: #be5252;
$gradiente-4: #4E8E5C;

$colores-gradiente: (
    gradiente-1: #d59648,
    gradiente-2: #1c66a7,
    gradiente-3: #be5252,
    gradiente-4: #4E8E5C
>>>>>>> 402843504df98ee250c48897849af4ce2494f494
);